@media (max-width: 1000px) {
    .follow {
        &__inner {
            grid-template-columns: 1fr 1.5fr 1fr;
        }
    }
    .footer {
        &__main {
            .footer__inner {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .footer-newsletter {
            max-width: 70%;
            margin-bottom: 50px;
            text-align: center;
            &__text {
                margin-bottom: 30px;
            }
            &__form {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 850px) {
    .limited {
        padding-bottom: 100px;
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .follow {
        &__inner {
            display: flex;
            flex-wrap: wrap;
            .follow__info {
                order: 3;
            }
            .follow__media {
                width: 50%;
            }
            .follow__img {
              
            }
        }
    }
}


@media (max-width: 850px) {
    .header {
        &__inner {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 35px 0;
            .menu {
                padding-top: 40px;
                padding-bottom: 0;
                justify-content: unset;
                flex-direction: column;
                gap: 10px;
                position: absolute;
                top: 0;
                width: 100%;
                left: 0;
                right: 0;
                background-color: #fff;
                transform: translateY(-100%);
                transition: all 0.3s;
                &__list {
                    flex-direction: column;
                    gap: 10px;
                    width: 100%;
                    &-item {
                        padding: 10px 0;
                        border-bottom: 1px solid var(--black-color);
                        width: 100%;
                        text-align: center;
                        .menu__list-link {
                            width: 100%;
                        }
                        &:hover {
                            pointer-events: none;
                        }
                    }
                    &:last-child {
                        .menu__list-item:last-child {
                            border-bottom: none;
                        }
                    }
                }
                &.active {
                    transform: translateY(0);
                }
                
            }
            .menu-btn {
                display: flex;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                z-index: 5;
            }

            .logo {
                left: 10%;
            }

            .user-acc {
                right: 70px;
            }
        }
    }

    .brands {
        &__title {
            max-width: 70%;
            margin-bottom: 40px;
        }
        &__items {
            padding: 0 10px;
        }
    }

    .welcome {
        padding: 80px 0;
        &__inner {
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            .welcome__title {
                max-width: 90%;
            }
            .welcome__text {
                max-width: 90%;
                text-align: center;
            }
        }
    }
}

@media (max-width: 600px) {
    .promo {
        &__inner {
            padding-left: 5%;
        }
    }

    .brands {
        &__title {
            max-width: 100%;
        }
        &__items {
            gap: 5%;
        }
    }

    .footer {
        &__main {
            .footer__menu {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                width: 90%;
                margin: 0 auto;
                gap: 10px;
                .footer__menu-list {
                    width: 100%;
                }
            }
        }

        &__bottom {
            .footer__inner {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        
    }
}

@media (max-width: 450px) {
    .brands {
        &__items {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
        }
    }

    .limited {
        &__items {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .follow {
        &__inner {
            flex-direction: column;
            .follow__media {
                width: 100%;
                &:first-child {
                    display: none;
                }
            }
            .follow__info {
                order: unset;
            }
        }
    }

    .footer {
        &__main {
            .footer-newsletter {
                max-width: 90%;
            }
        }
    }
}