@import 'global';
@import 'var';
@import 'reset';

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
        .menu {
            padding: 5px 0;
            &__list {
                display: flex;
                align-items: center;
                gap: 35px;
                font-weight: 700;
                font-size: 13px;
                line-height: 170%;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #35312e;
                &-item {
                    border-bottom: 2px solid transparent;
                    transition: all 0.3s;
                    &:hover {
                        border-bottom: 2px solid #35312e;
                    }
                }
            }
        }
        
        .logo {
            &__img {
            }
        }
        
        .user-acc {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: #f5f1e9;
            display: flex;
            justify-content: center;
            align-items: center;
            &__img {
            }
        }
        
    }
}

.promo {
    background-image: url('../images/promo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: calc(100vh - 82px);
    &__inner {
        display: flex;
        align-items: center;
        padding-top: 168px;
        padding-left: 343px;
        .promo__info {
            max-width: 248px;
            .promo__text {
                line-height: 100%;
                text-transform: uppercase;
                color: #35312e;
                margin-bottom: 8px;
            }
            .promo__title {
                font-size: 50px;
                line-height: 144%;
                letter-spacing: 0.02em;
                color: #35312e;
                span {
    
                }
            }
            .promo__btn {
            }
        }
        
    }
}

.brands {
    background-color: #F5F1E9;
    padding: 45px 0;
    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        text-transform: uppercase;
        text-align: center;
        color: #35312e;
        margin-bottom: 24px;
    }

    &__items {
        padding: 0 74px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.welcome {
    padding-top: 121px;
    padding-bottom: 114px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .welcome__title {
            font-weight: 700;
            font-size: 41px;
            line-height: 113%;
            letter-spacing: 0.03em;
            text-align: center;
            color: #35312e;
            max-width: 400px;
        }
    
        .welcome__text {
            color: #4f463f;
        }

    }
    
}

.product {
    background-color: #fbf6ea;
    padding-top: 75px;
    padding-bottom: 135px;
    &__title {
        font-size: 35px;
        line-height: 137%;
        text-align: center;
        color: #35312e;
        margin-bottom: 53px;
    }

    .product-color__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        .product-color-btn {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            &.active {
                border: 3px solid #e09d81;
            }
            &.pink {
                background-color: #e09d81;
            }
            &.blue {
                background-color:  #748ea1;
            }
            &.brown {
                background-color: #b76d47;
            }
            &.gray {
                background-color: #7d836e;
            }
            &.red {
                background-color: #c33636;
            }
            &.white {
                background-color: #cdc7b3;
            }
            &.gray2 {
                background-color: #595752;
            }
            &.white2 {
                background-color: #d3c2ca;
            }
        }
    }

    .product-about {
        display: flex;
        &__info {
            .product-about__text {
                font-size: 12px;
                line-height: 129%;
                text-transform: uppercase;
                text-align: center;
                color: #6e6259;
            }
        }
    }
}

.limited {
    padding: 80px 0;
    &__title {
        font-weight: 700;
        font-size: 33px;
        line-height: 167%;
        letter-spacing: 0.04em;
        text-align: center;
        color: #35312e;
        margin-bottom: 21px;
    }

    &__text {
        font-size: 18px;
        line-height: 161%;
        text-align: center;
        color: #4f463f;
        margin-bottom: 73px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .limited__item {
            &-media {
                margin-bottom: 15px;
            }

            &-title {
                font-size: 14px;
                line-height: 170%;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                text-align: center;
                color: #35312e;
                margin-bottom: 4px;
            }
            &-price {
                line-height: 150%;
                letter-spacing: 0.01em;
                text-align: center;
                color: #6e635a;
                margin-bottom: 6px;
            }

            &-descr {
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0.01em;
                text-align: center;
                color: #6e635a;
            }
            &-colors {
                display: flex;
                justify-content: center;
                gap: 20px;
                .limited__item-color {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color:  #ccbd9e;
                }
            }
        }
    }
}


